<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hi{
            background-color: greenyellow;
            margin: auto;
            margin-top: 25%;
            font-size: 40px;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>
<body>
    <div class="hi">
        <h1 style="text-align: center;">insufficient Balance</h1>
    </div>
</body>
</html>