
.reg{
    margin-top: 25%;
    margin-right: 5%;

}
.upd{
        margin-top: 25%;
        margin-right: 5%;
}

.blo{
    margin-top: 25%;
    margin-right: 5%;
}
.lis{
    margin-top: 25%;
    margin-right: 5%;
}

